{% extends 'base.html' %}
{% block content %}
    <div>

        <div id="page-1" class="">
            {% include "blog/components/navbar.html" %}
        </div>

        <div id="page-1">
            {% include 'blog/components/headers.html' %}
        </div>
        <div id="page-1">
            {% include 'blog/components/apropos.html' %}
        </div>       
        <div id="page-1">
            {% include 'blog/components/actualites.html' %}
        </div>
            
        <div id="page-1">
            {% include 'blog/components/footer.html' %}
        </div>
    </div>
    <p>Vous êtes connecté !</p>
{%endblock%}
