{%for abouts in apropos %}
<div class="px-20 h-screen mb-20">
    <div class="h-full bg-cover flex justify-center items-center" style="background-image: url(../../static/images/f2.svg);">
        <div class="text-md font-serif w-3/6 px-8">
            <h1 class="text-5xl pt-64">
                Apropos de <span class="text-white">M</span>oli<span class="text-white">App</span>
            </h1>
            <div class="pt-10 text-justify text-gray-700">
                {{abouts.description }}
            </div>
            <div class="flex w-full justify-end">
                <button class="relative  my-10 inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        En savoir plus
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
{%endfor%}