{%extends 'base.html'%}
{%block content%}
    <div>
        <div class="pt-20 h-screen flex justify-center items-center px-20" style="background-image: url(../../static/images/bg1.svg);">
            <div class="2xl:grid grid-cols-12 gap-20 hidden">
                <div class="col-span-6 flex flex-col justify-center items-center">
                    <div class="text-3xl  font-serif flex flex-col gap-8">
                        <h1 class="text-6xl text-green-600">
                            Bienvenue!
                        </h1>
                        <h2 class="text-gray-600">
                            C'est avec joie que nous vous accueillons dans <span class="text-4xl text-green-600">M</span>oli<span class="text-green-600">App</span>
                        </h2>
                    </div>
                    <div>
        
                    </div>
        
                </div>
                <div class="col-span-6 flex justify-end">
                    <img src="" alt="" srcset="" class="rounded-lg" style="width: 500px; height: 400px;">
                </div>
            </div>

            <div class="grid grid-cols-12 gap-20">

                <div class="col-span-6 flex justify-start">
                        <img src="../../../static/images/deux.jpg" alt="" srcset="" class="rounded-lg" style="width: 500px; height: 400px;">
                </div>
                <div class="col-span-6 flex flex-col justify-center items-center">
                    <div class="text-3xl  font-serif flex flex-col gap-8">
                            <h1 class="text-5xl text-green-600">
                                Quel est votre besoin ?
                            </h1>
                            <h2 class="text-gray-600">
                                Nous disposons de tous les produits qu'il vous faut dans <span class="text-4xl text-green-600">M</span>oli<span class="text-green-600">App</span>
                            </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}