# authentication/templates/authentication/signup.html
{% extends 'base.html' %}
{% block content %}
    <h2>Inscription</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >S’inscrire</button>
    </form>
{% endblock content %}
<div class=" grid grid-cols-12">
    <form action="" method="post" class="content-center mt-14 ml-10 bg-white h-96 w-96  col-span-6">
            <h2 class="py-3 mt-2 font-serif text-2xl font-bold text-center text-gray-600">INSCRIPTION</h2>
            <input class="h-12 mt-4 ml-12 border-2 border-gray-400 rounded-md w-72" required="" placeholder=" Nom" type="text"><br>
            <input class="h-12 mt-2 ml-12 border-2 border-gray-400 rounded-md w-72" required="" placeholder="  Prénom" type="text"><br>
            <input class="h-12 mt-2 ml-12 border-2 border-gray-400 rounded-md w-72" required="" placeholder="  E-mail" type="email"><br>
            <input class="h-12 mt-2 ml-12 border-2 border-gray-400 rounded-md w-72" required="" placeholder="  Mot de passe" type="password"><br>
            <button class="pt-2 pb-2 mt-4 ml-24 bg-green-600 rounded-md pl-14 pr-14 text-teal-50" type="submit">S'INSCRIRE</button>
    </form>
    <div class="grid col-span-5">
      <img class="absolute" style=" width: 600px;" src="../static/images/login.png" alt="" srcset="">
    </div>
</div>